<div style="margin-top: 20px;  margin-left: 30px;">
  <div class="row justify-content-start">
    <div class="col-6">
      <h2>Acme Brick BCS Pro Gap Analysis Report</h2>
      <p class="text-justify">Every employer sponsored health plan has risks, but with the right information and the
        right partners,
        you can minimize those risks. Below you will find the results of our analysis. Something else here about how
        this can help specifically
        and common next steps for the compliance person. </p>
    </div>
    <div class="col-2">

    </div>
    <div class="col-4">
      <h6 href="#" class="link-primary" style="color: #5C0CB8">View Employer Details</h6>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6"></div>
    <div class="col-4">
      <button type="button" class="btn btn-primary btn-md"
              style="background-color: #F7F1FD;  color: #5C0CB8; border-color: white">
        <i class="material-icons">save_alt</i> Download PDF Full Report
      </button>
      <button type="button" class="btn btn-secondary btn-md"
              style="background-color: #5C0CB8;  color: white; border-color: unset;  margin-left: 10px;">
        <i class="material-icons">check</i> Export CSV Action Item List
      </button>
    </div>
  </div>

</div>


<div style="margin-top: 30px;">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="summary-tab" data-toggle="tab" href="#summary" role="tab"
         aria-controls="Summary & Action Items"
         aria-selected="false">Summary & Action Items</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="erisa-tab" data-toggle="tab" href="#erisa" role="tab" aria-controls="ERISA/5500"
         aria-selected="false" style="color: #5C0CB8">ERISA/5500</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="aca-tab" data-toggle="tab" href="#aca" role="tab" aria-controls="ACA"
         aria-selected="false" style="color: #5C0CB8"> <i class="material-icons">new_releases</i> ACA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="medicare-tab" data-toggle="tab" href="#medicare" role="tab" aria-controls="Medicare"
         aria-selected="false" style="color: #5C0CB8"> <i class="material-icons">warning</i> Medicare</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cobra-tab" data-toggle="tab" href="#cobra" role="tab" aria-controls="COBRA"
         aria-selected="false" style="color: #5C0CB8"> <i class="material-icons">new_releases</i> COBRA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="section-tab" data-toggle="tab" href="#section" role="tab" aria-controls="Section 125"
         aria-selected="false" style="color: #5C0CB8">Section 125</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="hippa-tab" data-toggle="tab" href="#hippa" role="tab" aria-controls="HIPAA"
         aria-selected="false" style="color: #5C0CB8">HIPAA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="caa-tab" data-toggle="tab" href="#caa" role="tab" aria-controls="CAA"
         aria-selected="false" style="color: #5C0CB8"> <i class="material-icons">warning</i> CAA</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#dropdown" role="button" aria-haspopup="true"
         aria-expanded="false" style="color: #5C0CB8">More</a>
      <div class="dropdown-menu">
        <a class="dropdown-item">Action</a>
        <a class="dropdown-item">Another action</a>
        <a class="dropdown-item">Something else here</a>
      </div>
    </li>
  </ul>


  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="summary" role="tabpanel" aria-labelledby="summary-tab">

    </div>
    <div class="tab-pane fade" id="erisa" role="tabpanel" aria-labelledby="erisa-tab">

    </div>
    <div class="tab-pane fade" id="aca" role="tabpanel" aria-labelledby="aca-tab">

    </div>
    <div class="tab-pane fade" id="medicare" role="tabpanel" aria-labelledby="medicare-tab">

    </div>
    <div class="tab-pane fade" id="cobra" role="tabpanel" aria-labelledby="cobra-tab">

    </div>
    <div class="tab-pane fade" id="section" role="tabpanel" aria-labelledby="section-tab">

    </div>
    <div class="tab-pane fade" id="hippa" role="tabpanel" aria-labelledby="hippa-tab">

    </div>
    <div class="tab-pane fade" id="caa" role="tabpanel" aria-labelledby="caa-tab">

    </div>
    <div class="tab-pane fade" id="dropdown" role="tabpanel" aria-labelledby="dropdown-tab">

    </div>
  </div>

</div>


<div class="col-9" style="margin-top: 50px;  margin-left: 10px;">
  <h3>Executive Summary</h3>
  <p class="text-justify">Your compliance risk score places you at approximately the 50th percentile of employers, with
    regards to benefits compliance risk.
    There are opportunities to fully mitigate risk areas and avoid expensive and stressful problems from happening 6 or
    12 months from now.</p>
  <p class="text-justify">On average, your score translates to between $50,000 to $150,000 in possible fines and
    penalties. This, of course, doesn't include the many hours spent trying to correct
    errors and locate records, months or years after the fact. A significant increase in last 2 years in enforcement by
    the DOL and HHS, COVID-19 law changes related to extended
    COBRA deadlines, mid-year election changes, emergency paid leave, FMLA, coverage mandates, etc. should be considered
    when developing a plan of action.</p>
</div>


<div class="col-9" style="margin-top: 50px;  margin-left: 10px;">
  <div class="row justify-content-start">
    <div class="col-2">
      <h3>Your Scores</h3>
    </div>
    <div class="col-4">
      <h6 href="https://www.freecodecamp.org/" class="link-primary" style="color: #5C0CB8; margin-top: 10px;">How are the scores calculated? <i class="material-icons">info</i></h6>
    </div>
  </div>
  <p class="text-justify">Here, you’ll find a percentage score and a dollar amount risk identified and aggregated across
    all the different areas covered in the BCS Pro Assessment.
    Make sure to click into each individual section in the tabs above to learn more about the specific regulations
    involved, along with which questions and answers helped us to identify
    your risk.
  </p>
</div>


<canvas id="miGrafica"></canvas>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet/>
